<p>
  <strong>Scale:</strong>
  <%= @key.scale %>
</p>
 
<p>
  <strong>Root:</strong>
  <%= @key.root %>
</p>

<p>
  <strong>Interval:</strong> <br>
  <textarea>
  <% x = @key.fretboard %>
  e|<%= x[0] %><br>
  B|<%= x[1] %><br>
  G|<%= x[2] %><br>
  D|<%= x[3] %><br>
  A|<%= x[4] %><br>
  D|<%= x[5] %><br>
  <% end %>
  </textarea>
  
</p>
